@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff5f7fa;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes moveGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.gradient-01 {
  animation: moveGradient 2s ease infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 260px;
  top: 0;
  right: 0px;
  background: #fff5f7fa;
  filter: blur(160px);
}

.gradient-02 {
  animation: moveGradient 2s ease infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 260px;
  top: -6rem;
  background: #62bdc9;
  filter: blur(170px);
}

.bg-custom-color {
  background-color: #012643ef;
}

.text-transparent {
  color: #012643ef;
}

.text-black {
  --tw-text-opacity: 1;
  color: #4c5963;
}

.text-white {
  --tw-text-opacity: 1;
  color: #fff5f7fa;
}

.hover {
  --tw-bg-opacity: 1;
  background-color: #02355d / var(--tw-bg-opacity);
}

.card {
  overflow-y: scroll;
  max-height: 150px; /* Adjust the height as per your needs */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromRight {
  animation: 0.5s ease-out slideInFromRight;
}

.animate-slideInFromLeft {
  animation: 0.5s ease-out slideInFromLeft;
}

.glass-card {
  transition: opacity 1s ease-out;
}

.glass-card.hide {
  opacity: 0;
}

@keyframes customBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px); /* Adjust this value for bounce height */
  }
  60% {
    transform: translateY(-10px); /* Adjust this value for bounce height */
  }
}

.animate-custom-bounce {
  animation: customBounce 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.speech-toggle-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.auth-page-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  outline: none;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Or the max-width you prefer */
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form input {
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 15px;
  margin: 5px;
  font-size: 16px;
}

.auth-form button {
  background-color: #012643ef;
  color: #fff5f7fa;
  border: none;
  border-radius: 8px;
  margin: 5px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #003c6aef;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.auth-header {
  color: #012643ef;
  text-align: center;
  margin-bottom: 17px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #012643ef;
}

.remember-me-container input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
  color: #012643ef;
}

@media (max-width: 768px) {
  .auth-card {
    padding: 20px;
  }
  .auth-form {
    padding: 15px;
  }
}

.flex-grow {
  flex-grow: 1;
}

.logout-button {
  position: absolute;
  bottom: 0;
}

.new-chat-button button:hover {
  background-color: #003c6aef;
}

.toggle-mode {
  cursor: pointer;
  color: #012643ef; /* Example color, adjust as needed */
  text-align: center;
  margin-top: 10px;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff5f7fa;
  transform-origin: right;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff5f7fa;
  transform-origin: left;
}

.welcome-page {
  height: 100vh;
}

.get-started-button {
  background-color: #fff5f7fa;
  color: #012643ef;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.circular-container {
  animation: tilt 2s ease-in-out 0.5s 2;
  width: 200px; /* or the size you want */
  height: 200px; /* should be the same as width for a perfect circle */
  border-radius: 50%; /* this makes the div circular */
  overflow: hidden; /* ensures the image doesn't escape the circle */
  display: flex; /* centers the image horizontally and vertically */
  justify-content: center;
  align-items: center;
  /* Add border or shadow if desired */
}

.circular-container img {
  max-width: 100%;
  height: 100%; /* maintains aspect ratio */
  /* If your images are not square or you want to ensure they cover the circle, you can use: */
  width: 100%;
  object-fit: cover;
  z-index: 20;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-text {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.text-container {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.get-started-button:hover {
  background-color: #edededef;
}

.page-transition {
  position: relative;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}
