@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #FFF5F7FA;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient-01 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: 0;
  right: 0px;
  background: #FFF5F7FA;
  filter: blur(175px);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: -6rem;
  background: #7aebfb;
  filter: blur(190px);
}

.bg-custom-color {
  background-color: #012643ef;
}

.text-transparent {
  color: #012643ef;
}

.text-black {
  --tw-text-opacity: 1;
  color: #4c5963;
}

.text-white {
  --tw-text-opacity: 1;
  color: #FFF5F7FA;
}

.hover {
  --tw-bg-opacity: 1;
  background-color: #02355d / var(--tw-bg-opacity);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromRight {
  animation: 0.5s ease-out slideInFromRight;
}

.animate-slideInFromLeft {
  animation: 0.5s ease-out slideInFromLeft;
}

.glass-card {
  transition: opacity 1s ease-out;
}

.glass-card.hide {
  opacity: 0;
}

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px); /* Adjust this value for bounce height */
  }
  60% {
    transform: translateY(-10px); /* Adjust this value for bounce height */
  }
}

.animate-custom-bounce {
  animation: customBounce 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
